<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BlcokTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>BlockTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Ipad1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>IpadTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>SwiftTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>TEST11-release.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>TEST11.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>TEST11Tests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5195B3E91AB70284007CFA8B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5195B4021AB70285007CFA8B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD097ECE1C2CD22D00AF60B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD097EDD1C2CD2EF00AF60B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD5A38FA1C02DE32000E212F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD70B1991BFDC5D000027F33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD70B1A81BFDC7E800027F33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD70B1BE1BFDC81800027F33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD79677A1C2BEF93000B4395</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD7967891C2BEFD8000B4395</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BDF2C9651C02BC2A00538ECE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BDF2C97D1C02BC2A00538ECE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BDFA0B6D1BC61741003BC5EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BDFA0B801BC61743003BC5EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BDFA0B8B1BC61745003BC5EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
